<html xmlns:th="http://www.thymeleaf.org">

<body>
	<p>Please insert new customer person!</p>

	<form action="#" th:action="@{customer/insert/person}" th:object="${customerAsPerson}" th:method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td> <input type="text" th:field="*{name}" /> </td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td> <input type="text" th:field="*{surname}" /> </td>
				<td th:if="${#fields.hasErrors('surname')}" th:errors="*{description}" ></td>
			</tr>
			<tr>
				<td>PersonCode:</td>
				<td> <input type="text" th:field="*{personCode}" /> </td>
				<td th:if="${#fields.hasErrors('personCode')}" th:errors="*{personCode}" ></td>
			</tr>
			<tr>
				<td>PhoneNo:</td>
				<td> <input type="text" th:field="*{phoneNo}" /> </td>
				<td th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" ></td>
			</tr>
			<tr>
				<td>Adress:</td>
				<td> <input type="text" th:field="*{adress}" /> </td>
				<td th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" ></td>
			</tr>

			<tr>
				<td> <input type="submit" name="Save"/></td>
			</tr>
		</table>
	</form>


</body>


</html>